
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Routing</a>
    </div>
    <ul class="nav navbar-nav">
     
      <li class="active">{{#link-to 'about'}}About{{/link-to}}</li>
      <li class="active">{{#link-to 'products'}}Products{{/link-to}}</li>
     
       <li> {{#link-to 'products.new'}}Create a new product{{/link-to}}</li>
         <li> {{#link-to 'home'}}Home{{/link-to}}</li>
    </ul>
  </div>
</nav>

{{outlet}}